<footer class="bottom-bar">
  <ul class="row">
    <li class="col active">
      <i class="fas fa-compass"></i>
      <span class="truncate">Discover</span>
    </li>
    <li class="col">
      <i class="fas fa-th-large"></i>
      <span class="truncate">Categories</span>
    </li>
    <li class="col">
      <i class="fas fa-shopping-cart"></i>
      <span class="truncate">My Basket</span>
    </li>
    <li class="col">
      <i class="fas fa-clock"></i>
      <span class="truncate">My Watches</span>
    </li>
    <li class="col">
      <i class="fas fa-user"></i>
      <span class="truncate">Profile</span>
    </li>
  </ul>
</footer>
